[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
requests = "*"
praw = "*"
python-dotenv = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
